/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */
header {
    height: 60px;
    background-color: #ff6900;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/* regole barra navigazione dentro header */
header nav {
    width: 80%;
    margin: 0 auto;
}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style-type: none;
}

ul li img {
    width: 90px;
}

.col-genre {
    font-weight: bold;
}

.col-genre, .col-icons {
    display: flex;
}

.col-genre div, .col-icons div {
    padding: 0 7px;
}

/* regole sezione main */
main section {
    width: 80%;
    margin: 100px auto 0; /* 60px di height + 40px di margin "naturale" */
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

#second-section {
    margin: 35px auto;
}

.col-main {
    width: calc(100% / 3);
}

.container-foto {
    position: relative;
}

.col-main img {
    width: 100%;
}

.sconto-eco {
    position: absolute;
    bottom: 35px;
    left: 0;
    z-index: 10;
}

.sconto, .eco {
    display: inline-block;
    color: white;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}

.sconto {
    background-color: red;
}

.eco {
    background-color: green;
}

.cuore {
    color: black;
    font-size: 30px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 3px 10px;
    z-index: 10;
}

.text-red {
    color: red;
    font-weight: bold;
}

.text-barred {
    text-decoration: line-through;
}

.text-bold {
    font-weight: bold;
    font-size: 14px;
}

.description {
    font-size: 13px;
    line-height: 1;
}

/* regole sezione main HOVER */
.foto-hover {
    display: none;
}

.container-foto:hover .foto-hover {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

/* regole footer */
footer {
    background-color: #1a1a1a;
    height: 85px;
    width: 100%;
}

.footer-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    align-items: center;
}

.footer-container ul {
    display: flex;
}

.footer-container ul li {
    margin-right: 8px;
    font-size: 9px;
}

.footer-container .fot-icons li {
    margin-right: 8px;
    font-size: 15px;
}

.text-bold-footer {
    font-weight: bold;
    font-size: 12px;
}